body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #46e561, #06d410);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

.formulario-container {
    background: #FFFFFF;
    padding: 30px;
    width: 350px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.campo {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

label {
    font-size: 15px;
    font-weight: 600;
    color: #333333;
    margin-bottom: 5px;
}

input, select, textarea {
    padding: 10px;
    border: 1px solid #CCCCCC;
    font-size: 14px;
    background: #FFFFFF;
}

textarea {
    height: 100px;
    resize: none;
}

.botao {
    text-align: center;
}

.botao button {
    background: #06d421;
    color: #FFFFFF;
    border: none;
    padding: 12px 20px;
    font-size: 15px;
    width: 100%;
}

.botao button:hover {
    background: #06be1f;
    transition: 0.2s;
}